<div class="single-group">
  {{#paper-radio-group groupValue=answerValue onChange=(action (mut answerValue)) as |group|}}
    {{#each model.answerOptions as |answerOption|}}
      {{#group.radio value=answerOption}}
        {{answerOption.value}}
      {{/group.radio}}
    {{/each}}
  {{/paper-radio-group}}
</div>

{{yield}}
