<div layout="row" flex>
  {{paper-input
    class="survey_response-text_input flex-100"
    label="Your response"
    type="text"
    textarea=true
    value=answerValue
    onChange=(action (mut answerValue))}}
</div>

{{yield}}
