<div layout="row" flex>
  {{paper-input
  class="survey_response-text_input"
  label="Your response"
  type="text"
  textarea=true
  value=answerValue
  onChange=(action (mut answerValue))
  flex=100}}
</div>

{{yield}}
