<div class="single-group">
  {{#paper-radio-group groupValue=answerValue onChange=(action (mut answerValue)) as |group|}}
    {{#each model.answerOptions as |answerOption|}}
      {{survey-response-answer-single group=group model=answerOption}}
    {{/each}}
  {{/paper-radio-group}}
</div>

{{yield}}
